.hero {
    width: 100%;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    padding: 15% 10%;
    background-position: 0 0;
    background-size: 100% 100%;
    background-image: url('../hero.jpg');
}

.hero__title {
    width: 40%;
    height: 8rem;
}

.hero__title h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: rgb(26 112 178);
}