.menu {
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 5rem;
    z-index: 97;
    background-color: rgb(27, 27, 27);
}

.menu__list {
    width: 100%;
    height: 80%;
}

.menu__list li {
    width: 100%;
    height: 2.5rem;
}

.menu__list li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: white;
}